<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fluidplugin</string>
				<string>fluidPlugin</string>
				<string>fluidPlugIn</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>FluidPlugIn</string>
			<key>CFBundleTypeName</key>
			<string>Fluid Plug-in</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<string>1</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Fluid</string>
	<key>CFBundleIdentifier</key>
	<string>com.fluidapp.Fluid</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.fluidapp.Fluid</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.9.8</string>
	<key>LSArchitecturePriority</key>
	<array>
		<string>x86_64</string>
		<string>i386</string>
		<string>ppc</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.0</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>i386</key>
		<string>10.5.0</string>
		<key>ppc</key>
		<string>10.5.0</string>
		<key>x86_64</key>
		<string>10.6.0</string>
	</dict>
	<key>NSMainNibFile</key>
	<string>FluidMainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>http://fluidapp.com/appcast/Fluid.rss</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Fluid Plug-in</string>
			<key>UTTypeIconFile</key>
			<string>FluidPlugIn.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.plugin</string>
			<key>UTTypeReferenceURL</key>
			<string>http://fliuidapp.com/plugin/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>FluidPlugIn</string>
				<key>public.filename-extension</key>
				<array>
					<string>fluidplugin</string>
					<string>fluidPlugin</string>
					<string>fluidPlugIn</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-fluid-plugin</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
